nav {
    width: 150px;
    height: 100%;
    @if $dev{
        background: lightblue;
    }

    font-family: $roboto, sans-serif;
    line-height: 1.3rem;

    ul {
        li {
            display: block;

            a:hover{
                background: #ccccff;
                border-radius: 8px;
            }
        }

    }
}
