nav {
    width: 150px;
    height: 100%;
    @if $dev{
        background: lightblue;
    }
    font-family: $roboto, sans-serif;
    font-weight: 400;

    ul {
        li {
            display: block;

            a:hover{
                background: #ccccff;
                border-radius: 8px;
            }
        }

    }
}
